<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>

  <body>
    <header class="headerContainer">
      {% if title %}
      <div class="title">
        <h1>{{ title }}</h1>
      </div>
      {% endif %}
    </header>

    <main>
      <div class="counter">
        <div>
          <p>Press the microphone to begin recording</p>
          <p id="time"></p>
        </div>
      </div>
      <div class="start-stop-container">
        <button id="recordButton">
          <img src="{{ url_for('static', filename='images/microphone.png') }}" alt="Microphone Icon"></button>
        <audio id="audioPlayback" controls></audio>
      </div>
    </main>

    <footer></footer>

    <script>
      let mediaRecorder;
      let audioChunks = [];
      let recordingTimer;
      let time = {{ countdown }};

      // Access user's microphone
      navigator.mediaDevices.getUserMedia({ audio: true })
        .then(stream => {
            mediaRecorder = new MediaRecorder(stream);
            mediaRecorder.ondataavailable = event => {
                audioChunks.push(event.data);
            };
            mediaRecorder.onstop = () => {
                const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                const audioUrl = URL.createObjectURL(audioBlob);
                document.getElementById("audioPlayback").src = audioUrl;
                clearInterval(recordingTimer);
                uploadAudio(audioBlob);
            };
        });

      document.getElementById("recordButton").addEventListener("click", () => {
        if (mediaRecorder.state === "inactive") {
            audioChunks = [];
            mediaRecorder.start();
            document.getElementById("recordButton").innerText = "Stop Recording";
            startTimer(time);
        } else {
            mediaRecorder.stop();
            document.getElementById("recordButton").innerText = "Start Recording";
        }
      });

      function startTimer(duration) {
        document.getElementById("time").innerHTML = duration;
        recordingTimer = setInterval(function () {
            duration--;
            document.getElementById("time").innerHTML = duration;
            if (duration <= 0) {
                clearInterval(recordingTimer);
                document.getElementById("time").innerHTML = "Done Recording";
                mediaRecorder.stop();
                document.getElementById("recordButton").innerText = "Start Recording";
            }
        }, 1000);
      }

      function uploadAudio(blob) {
        let formData = new FormData();
        formData.append("audioFile", blob, "recording.wav");

        fetch('/upload-audio', {
            method: 'POST',
            body: formData
        }).then(response => {
          if (response.ok) {
            console.log("Audio uploaded successfully");
          } else {
            console.error("Server responded with an error status");
          }
        }).catch(error => console.error('Error:', error));
      }
    </script>
  </body>
</html>
