/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Styles */
.headerContainer {
    display: flex;
    height: 5em;
    background-color: #830c0c; /* You might want to define --color5 in your CSS variables */
    color: #e7e3e3; /* You might want to define --color1 in your CSS variables */
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

body{
    background-color:#e6af71;
}

/* Record Button Styles */
#recordButton {
    appearance: button;
    aspect-ratio:1;
    backface-visibility: hidden;
    background-color: #c01a1a;
    border-radius: 50%;
    border: none;
    color: #fff;
    cursor: pointer;
    display:grid;
    height: 32px;
    place-items:center;
    transform: translateZ(0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 32px;
    display: block;
    margin: 9px;
}

#recordButton img{
		width:20px;
        filter: invert(89%) sepia(100%) saturate(0%) hue-rotate(149deg) brightness(108%) contrast(101%);
}

#recordButton:disabled {
    cursor: not-allowed;
}

#recordButton:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

#recordButton:hover{
    background-color: #6e1919;
}

/* Main Container Styles */
.start-stop-container {
    width: 70%;
    margin: auto auto;
    display: flex;
    justify-content: center;
}

/* Counter Styles */
.counter {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    position: relative;
}

.counter p {
    font-size: 25px;
    text-align: center;
}

.counter img{
    margin:auto;
    width:40%;
    opacity:0.5;
    transform: translateX(50%);
    border: 4px solid black;
    border-radius: 50%;
    background-color:lightgrey;
    padding: 5px;
}

/*Cosmetic Styles*/
.web-cosmetics {
    top: -65px;
    right: 0;
    width:50%;
    z-index: 2;
    position:absolute;
    overflow:hidden;
}


/* Additional Styles as Needed */

